@use "sass:list";

.l-flex {
  display: flex;
}

.l-flex--row {
  flex-direction: row;
}

.l-flex--column {
  flex-direction: column;
}

.l-flex--wrap {
  flex-wrap: wrap;
}

.l-flex--justify-start {
  justify-content: flex-start;
}

.l-flex--justify-center {
  justify-content: center;
}

.l-flex--justify-between {
  justify-content: space-between;
}

.l-flex--justify-end {
  justify-content: flex-end;
}

.l-flex--align-start {
  align-items: flex-start;
}

.l-flex--align-center {
  align-items: center;
}

.l-flex--align-stretch {
  align-items: stretch;
}

.l-flex--align-end {
  align-items: flex-end;
}

@for $i from 1 through 8 {
  $gaps: 3px, 5px, 8px, 10px, 15px, 20px, 25px, 30px;
  .l-flex--gap-#{$i} {
    gap: list.nth($gaps, $i);
  }
}

.l-box {
  display: block;
}
