@import url("./reset.css");

@font-face {
    font-family: "ChunkFive";
    src: url("./fonts/ChunkFive-Regular.otf");
}

@font-face {
    font-family: "Action_Man";
    src: url("./fonts/Action_Man.ttf");
}
@font-face {
    font-family: "Action_Man_Bold";
    src: url("./fonts/Action_Man_Bold.ttf");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --cyan: #00a4ccff;
    --cyan-hover: rgb(3, 145, 180);
    --orange: #f95700ff;
    --dark-orange: rgb(173, 82, 32);
    --brown: #ad4811;
    --blue: #274c86;
    --dark-blue: #101820ff;
    --dark-blue-hover: #232e38;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--blue);
    font-size: 1.4rem;
    font-family: "Action_Man", "Arial", sans-serif;
    line-height: 1.6;
    letter-spacing: 0.1rem;
    color: #fff;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    color: #fff;
    padding: 1rem 2rem;
    background-color: var(--cyan);
    font-family: inherit;
    transition: all 0.5s;
    letter-spacing: inherit;
}

button:hover {
    background-color: var(--cyan-hover);
    letter-spacing: 0.2rem;
    outline: 1px solid #fff;
}

select {
    padding: 1rem;
    position: relative;
}

h1,
h2{
    font-family: "Action_Man_Bold", inherit;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5em;
}
